.profile-page-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: darkgrey;
}

.profile-page-body {
  width: 1000px;
  border: solid red;
}

.profile-page-header {
  height: 250px;
  border: solid red;
  margin: 15px 15px 15px 15px;
}

.profile-page-icon-container img {
  opacity: 100%;
  width: 150px;
  height: 150px;
  border: solid grey;
  margin: 25px 25px 25px 25px;
}

.profile-page-col-wrapper {
  display: flex;
  height: 1000px;
  border: solid red;
  margin: 25px 25px 25px 25px;
}

.profile-page-left-col {
  width: 70%;
  height: 600px;
  border: solid red;
  margin: 25px 25px 25px 25px;
}

.profile-page-right-col {
  width: 30%;
  height: 600px;
  border: solid red;
  margin: 25px 25px 25px 25px;
}
